<h2>Lista de Tareas</h2>

<div class="task-container">
  <!-- Agregar Nueva Tarea -->
  <div class="add-task">
  <input [(ngModel)]="newTaskTitle" placeholder="Nueva tarea."/>
  <button (click)="addTask()">Agregar</button>
</div>

<div class="filter-tasks">
  <label for="filter">Filtrar:</label>
  <select [(ngModel)]="filterStatus" (change)="applyFilter()">
    <option value="all">Todas</option>
    <option value="completed">Completadas</option>
    <option value="pending">Pendientes</option>
  </select>
</div>

<table class="task-table">
  <thead>
    <tr>
      <th>Descripción</th>
      <th>Estado</th>
      <th>Acción</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of filteredTasks$ | async">
      <td>{{ task.nombre }}</td>
      <td>
        <span [ngClass]="{'pending': !task.estado, 'completed': task.estado}">
          {{ task.estado ? 'Completa' : 'Pendiente' }}
        </span>
      </td>
      <td>
        <button (click)="completeTask(task)">
          {{ task.estado ? 'Dejar Pendiente' : 'Completar' }}
        </button>
        <button class="delete-btn" (click)="deleteTask(task.id)">🗑️</button>
      </td>
    </tr>
  </tbody>
</table>
<!-- <ul>
  <li *ngFor="let task of filteredTasks$ | async">
    {{ task.nombre }} - <strong>{{ task.estado ? 'Completada' : 'Pendiente' }}</strong>
    <button (click)="completeTask(task)">
      {{ task.estado ? 'Dejar Pendiente' : 'Completadar' }}
    </button>
  </li>
</ul> -->

