################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/backend/.vs/BackGestionTareas/CopilotIndices/17.13.430.18484
/backend/.vs
